.section {
  flex: 0 0 47%;
  display: flex;
  flex-direction: column;

  height: 100%;
  overflow: hidden;
}

.list {
  padding: 0;
  overflow-y: auto;
  scrollbar-color: var(--scrollbar-thumb-color)
    var(--scrollbar-background-color);
  scrollbar-width: thin;
}

.list::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb-color);
  border-radius: var(--scrollbar-thumb-radius);
}

.list::-webkit-scrollbar {
  background-color: var(--scrollbar-background-color);
}

.editor {
  padding: 0;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: hidden;
}

.bun {
  background: var(--burger-constructor-item-bg);
  width: 100%;
}

.total {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.icon {
  transform: scale(1.5);
}
