.card {
  position: relative;
  display: flex;
  flex-direction: column;
  width: var(--ingredient-card-width);

  cursor: pointer;
}

.title {
  text-align: center;
}

.image {
  width: var(--ingredient-card-image-width);
  height: var(--ingredient-card-image-height);
}

.price {
  display: flex;
  justify-content: center;
}

.count {
  position: absolute;
  top: 0;
  right: 0;
  width: 32px;
  height: 32px;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--counter-background-color);
  border-radius: 16px;
}
