:root {
  --page-padding-side: 10rem;

  --header-height: 88px;
  --header-background: #1c1c21;

  --link-background-hover: #2f2f37;
  --link-border-radius: 40px;
  --link-transition: all 0.3s ease-in;
}
